<div class="row text-center" id="form-title">
  <h4>Add the steps for how to make your cocktail!</h4>
</div>
<div class="div-form">
  <%= simple_form_for [cocktail, dose] do |f| %>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <%= f.input :ingredient_id, collection: Ingredient.order(:name) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
    <%= f.input :description %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <%= f.button :submit, value: "Submit", class: "btn btn-primary"%>
    </div>
  </div>
  <% end %>
</div>
