#row-dose{
  margin: 10px 0;
}
#btn-delete{
  font-size: 12px;
  margin-bottom: 10px;
}
#row-dose p {
  margin: 5px 0 0;
}
.container.show, .container.edit, .container.new{
  color: black;
  background-color: rgba(230,230,230,0.8);
}
