/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.wrapper-green-light {
  background: radial-gradient(rgba(240,240,240,0.2) 52%, $blue-dark-scheme-tslcnt 108%);
  padding: 30px 0;
  min-height: 95vh;
}
.wrapper-pink {
  background-color: $brown-scheme;
}
