.card {
  background-size: cover;
  border-radius: 5px;
  height: 200px;
  position: relative;
  color: #FFFFFF;
  margin-top: 20px;
  transition: opacity 0.7s;
  border: 10px solid rgba(250,250,250,1);
}
.card:hover{
  opacity: 0.7;
}
.card-cocktail {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  font-family: sans-serif;
  font-family: $stylish-font;
}
.card-creator {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
}
