// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.cocktails{
  color: white;
}
body > div {
  display: flex;
  align-items: center;
}
.container {
  border-radius: 5px;
}
